
.trans_button {
  all: unset;
}
.trans_button:hover {
  size: 110%;
}

/* Style the slider (the movable part) */
switch slider {
    background-color: rgb(87, 87, 87); /* White slider handle */
    border-radius: 20%; /* Optional: Make the slider perfectly circular */
    border: unset;
    background-image : none;
    margin: 3px; /* Optional: Add some margin */
}

switch:checked slider {
    background-color: rgb(216, 216, 216); /* White slider handle */
    border-radius: 20%; /* Optional: Make the slider perfectly circular */
    border: unset;
    background-image : none;
    margin: 3px; /* Optional: Add some margin */
}


.bordered-box {
            border: 2px solid #4a90e2;
            border-radius: 8px;
            padding: 10px;
            background-color: rgb(76, 76, 76);
        }

.chart {
  border: 2px solid #4a90e2;
    padding: 10px;
    background-color: #eef;

}

.csv-reader {
  min-width: 400px;
  min-height: 400px;
}

.pipeline-model-holder{
  margin-left: 10px;
  margin-right: 10px;
  border-radius: 10px;
  align-content: center;
  background-color: #ededed;
}

.error-message {
  color: red;
}

.control-button {
  color: black;
  background-color: #00b548;
}

.data-pipeline {
  margin: 10px;
  border-radius: 10px;
  align-content: center;
  background-color: #ededed;
}



/*
Block related things
*/
.block-label {
  font-size: large;
  text-decoration: underline;
}
.block-library{
  min-width: 100px;
  min-height: 300px;
}

.data-block {
  background-color : #115879;
  margin: 10px;
  padding: 2px;
  margin-left: 50px;
  margin-right: 50px;
  min-height: 20px;
  min-width: 50px;
  color: white;
  border: none;
}

.block-green {
  background-color : #11793b;
  margin: 10px;
  padding: 2px;
  margin-left: 50px;
  margin-right: 50px;
  border-radius: 10px;
  min-height: 20px;
  min-width: 50px;
  color: white;
  border: none;
}

.block-pink {
  background-color : #720968;
  margin: 10px;
  padding: 2px;
  margin-left: 50px;
  margin-right: 50px;
  border-radius: 10px;
  min-height: 20px;
  min-width: 50px;
  color: white;
  border: none;
}

.block-purple {
  background-color : #431179;
  margin: 10px;
  padding: 2px;
  margin-left: 50px;
  margin-right: 50px;
  border-radius: 10px;
  min-height: 20px;
  min-width: 50px;
  color: white;
  border: none;
}


.block-blue{
  background-color : rgb(65, 74, 234);
  margin: 10px;
  padding: 2px;
  margin-left: 50px;
  margin-right: 50px;
  border-radius: 10px;
  min-height: 20px;
  min-width: 50px;
  color: white;
  border: none;
}


.block-orange {
  background-color : #795311;
  margin: 10px;
  padding: 2px;
  margin-left: 50px;
  margin-right: 50px;
  border-radius: 10px;
  min-height: 20px;
  min-width: 50px;
  color: white;
  border: none;
}


/*
Standard frame related things 
*/
.frame {
    margin: 10px;
    border: 6px solid #00000000;
    border-radius: 10px;
    background-color: rgb(220, 220, 220);
}

.header-box {
    background-color: #ededed;
    padding: 5px;
    min-width: 400px;
}

.block-dropdown-button {
  color: white;
  background-color: none;
  background-image : none;
  border: none;
}

.block-dropdown-button button.toggle {
  border: none;
  background-color: none;
  color: white;
  background-image: none;
  border: none;

}
.block-dropdown-button button.toggle :hover {
  border: none;
  background-color: none;
  background-image: none;
  border: none;

}

.header-button {
  color: black;
  background-color: #ffffff;
  background-image : none;
  border: none;
}
.header-button:hover {
  color: black;
  background-color: #959595;
  background-image : none;
  border: none;
}



.back-area {
  background-color: rgba(0, 0, 0, 0);
  border:none
}

.back-area  > separator {
  min-height: 0; /* for vertical paned */
  min-width: 0;  /* for horizontal paned */
  padding: 0;
  border-width: 0;
}
.back-area  > separator > separator {
  min-height: 0; /* for vertical paned */
  min-width: 0;  /* for horizontal paned */
  padding: 0;
  border-width: 0;
}