.bordered-box {
            border: 2px solid #4a90e2;
            border-radius: 8px;
            padding: 10px;
            background-color: #eef;
        }

.chart {
  border: 2px solid #4a90e2;
    padding: 10px;
    background-color: #eef;

}

.csv-reader {
  min-width: 400px;
  min-height: 400px;
}






/*
Block related things
*/
.block-label {
  font-size: large;
  text-decoration: underline;
}
.block-library{
  min-width: 100px;
  min-height: 300px;
}

.block-green {
  background-color : #11793b;
  margin: 10px;
  padding: 2px;
  margin-left: 50px;
  margin-right: 50px;
  border-radius: 10px;
  min-height: 20px;
  min-width: 50px;
  color: white;
  border: none;
}

.block-purple {
  background-color : #431179;
  margin: 10px;
  padding: 2px;
  margin-left: 50px;
  margin-right: 50px;
  border-radius: 10px;
  min-height: 20px;
  min-width: 50px;
  color: white;
  border: none;
}


.block-blue{
  background-color : rgb(65, 74, 234);
  margin: 10px;
  padding: 2px;
  margin-left: 50px;
  margin-right: 50px;
  border-radius: 10px;
  min-height: 20px;
  min-width: 50px;
  color: white;
  border: none;
}


.block-orange {
  background-color : #795311;
  margin: 10px;
  padding: 2px;
  margin-left: 50px;
  margin-right: 50px;
  border-radius: 10px;
  min-height: 20px;
  min-width: 50px;
  color: white;
  border: none;
}


/*
Standard frame related things 
*/
.frame {
    margin: 10px;
    border: 6px solid #424242;
    border-radius: 6px;
    background-color: #dddddd;
}

.header-box {
    background-color: #424242;
    padding: 5px;
    min-width: 400px;
}

.header-button {
  color: white;
  background-color: #666666;
  background-image : none;
  border: none;
}
.header-button:hover {
  color: white;
  background-color: #565656;
  background-image : none;
  border: none;
}

.back-area {
  background-color: rgb(255, 255, 255);
  border:none
}

.back-area  > separator {
  min-height: 0; /* for vertical paned */
  min-width: 0;  /* for horizontal paned */
  padding: 0;
  border-width: 0;
}
.back-area  > separator > separator {
  min-height: 0; /* for vertical paned */
  min-width: 0;  /* for horizontal paned */
  padding: 0;
  border-width: 0;
}